%p
  We are designers and developers that work for
  %a{:href => "http://dxw.com"}
    dxw
%p
  You can check our
  %a{:href => "https://docs.google.com/document/d/1ehzUZY6I9AHLE5vxrqvmiBWm49l2mul9of95HxrrHK4/"}
    AccHack14 Live Blog
  too see what we've been working on.