%h2
  Local authorities

%ul.sieve{:class => "small-block-grid-1 medium-block-grid-3 authorities"}
  - @local_authorities.each do |la|
    %li= link_to la.name , local_authority_path(la.la_code)

.noresults{ style:"display: none;" } Sorry, we can't find a local authority with that name.
