.la-show
  %header
    %h1=@local_authority.name

  %section.row
    .house{:class => "icon-home-1"}
    .stat
      =@households
      .type
        Households in
        =@local_authority.name

  %section.row
    .large-12.columns
      %hr
    .stat.social.sm
      =@social_housing
      .type
        Social housing households
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line{ data: { percentage: @local_authority_percentage_households } }
            %span=try_percentage(@local_authority_percentage_households)

      .average
        %dl
          %dt National average
          %dd
            .line{ data: { percentage: @social_housing_average_households } }
            %span=try_percentage(@social_housing_average_households)

    .stat.homeless.sm
      74
      .type
        Homeless households
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line{ data: { percentage: @local_authority_percentage_homeless } }
            %span=try_percentage(@local_authority_percentage_homeless)
      .average
        %dl
          %dt National average
          %dd
            .line{ data: { percentage: @homeless_average } }
            %span=try_percentage(@homeless_average)

  %section.need-fulfilled
    .row
      .large-12.columns
        %hr
      .stat
        .house-scale
          85
        .type
          Households in need of social housing
      .stat
        .house-scale
          30
        .type
          Houses available
    .row
      .columns.large-8
        .compare
          %dl
            %dt=@local_authority.name
            %dd
              .line{ data: { percentage: @local_authority_houses_sold } }
              %span=try_percentage(@local_authority_houses_sold)
        .average
          %dl
            %dt National average
            %dd
              .line{ data: { percentage: @houses_sold_average } }
              %span=try_percentage(@houses_sold_average)

  %section.row
    .large-12.columns
      %hr
    .stat.sold.sm
      =@local_authority_houses_sold
      .type
        Social housing houses sold
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line{ data: { percentage: @local_authority_percentage_houses_sold } }
            %span=try_percentage(@local_authority_percentage_houses_sold)

      .average
        %dl
          %dt National average
          %dd
            .line{ data: { percentage: @houses_sold_average } }
            %span=try_percentage(@houses_sold_average)
