.la-show
  %header
    %h1=@local_authority.name

  %section.row
    .house
      House icon
    .stat
      1257
      .type
        Households

  %section.row
    .stat.social.sm
      300
      .type
        Social housing households
      .average
        .line
        National average: 260
      .compare
        .line
        Local: 300

    .stat.homeless.sm
      74
      .type
        Homeless households
      .average
        .line
        National average: 260
      .compare
        .line
        Local: 300