.la-show
  %header
    %h1=@local_authority.name

  %section.row
    .house
      House icon
    .stat
      =@households
      .type
        Households in
        =@local_authority.name

  %section.row
    .stat.social.sm
      =@social_housing
      .type
        Social housing households
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line
            %span=number_to_percentage(@local_authority_percentage_households, precision: 2)
      .average
        %dl
          %dt National average
          %dd
            .line
            %span=number_to_percentage(@social_housing_average_households, precision: 2)

    .stat.homeless.sm
      74
      .type
        Homeless households
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line
            %span=number_to_percentage(@local_authority_percentage_homeless, precision: 2)
      .average
        %dl
          %dt National average
          %dd
            .line
            %span=number_to_percentage(@homeless_average, precision: 2)