.la-show
  %header
    %h1=@local_authority.name

  %section.row
    .house
      House icon
    .stat
      =@households
      .type
        Households in
        =@local_authority.name

  %section.row
    .stat.social.sm
      =@social_housing
      .type
        Social housing households
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line
            %span=number_to_percentage(@local_authority_percentage_households)
      .average
        %dl
          %dt National average
          %dd
            .line
            %span=number_to_percentage(@social_housing_average_households)

    .stat.homeless.sm
      74
      .type
        Homeless households
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line
            %span=number_to_percentage(@local_authority_percentage_homeless)
      .average
        %dl
          %dt National average
          %dd
            .line
            %span=number_to_percentage(@homeless_average)

  %section.need-fulfilled
    .row
      .stat
        .house-scale
          85
        .type
          Households in need of social housing
      .stat
        .house-scale
          30
        .type
          Houses available
    .row
      .columns.large-8
        .compare
          %dl
            %dt=@local_authority.name
            %dd
              .line
              %span=number_to_percentage(@local_authority_houses_sold)
        .average
          %dl
            %dt National average
            %dd
              .line
              %span=number_to_percentage(@houses_sold_average)

  %section.row
    .stat.sold.sm
      10
      .type
        Social housing houses sold
      .compare
        %dl
          %dt=@local_authority.name
          %dd
            .line
            %span=number_to_percentage(@local_authority_houses_sold)
      .average
        %dl
          %dt National average
          %dd
            .line
            %span=number_to_percentage(@houses_sold_average)
