footer {
  border-top: 1px solid $gainsboro;
  background: $smoke;
  padding-top: $space-medium*2;
  font-family: $font-family-body;
  a.icon-twitter {
    display: inline-block;
    margin-right: $space-small;
    color: $twitter;
    &:before {
      margin-right: 0;
    }
    &:hover, &:focus {
      color: darken($twitter, 10);
    }
  }
}