.la-show {
  header {
    margin-bottom: 30px;
  }

  h2 {
    font-size: rem-calc(20);
    color: gray;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
    @media #{$medium-up} {
      margin-top: 20px;
    }
  }

  .average, .compare {
    font-size: rem-calc(16);
    line-height: rem-calc(16);
    margin-bottom: 5px;

    .line {
      display: inline-block;
      width: 0;
      border-top: 8px solid gray;
      position: absolute;
      top: 12px;
      left: 0;
      z-index: 100;
    }

    .line-full {
      position: absolute;
      top: 12px;
      left: 0;
      border-top: 8px solid silver;
      width: 100%;
    }

    span {
      position: absolute;
      top: 20px;
      left: 0;
      font-weight: 300;
    }
  }

  .compare {
    .line {
      border-top: 8px solid $info-color;
    }
  }

  dl {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;

    dt {
      width: 35%;
      float: left;
      font-size: rem-calc(14);
      padding-top: 5px;
    }
    dd {
      width: 65%;
      float: left;
      margin-bottom: 0;
      position: relative;
    }
  }
}

.house {
  @extend .medium-2;
  @extend .small-3;
  @extend .columns;
  font-size: rem-calc(70);
  line-height: rem-calc(70);
  @media #{$medium-up} {
    font-size: rem-calc(80);
    line-height: rem-calc(80);
  }
  @media #{$large-up} {
    font-size: rem-calc(110);
    line-height: rem-calc(110);
  }
  &:before {
    margin: 0;
  }
}

.stat {
  font-size: rem-calc(80);
  line-height: rem-calc(90);
  @media #{$medium-up} {
    font-size: rem-calc(90);
    line-height: rem-calc(100);
  }
  @media #{$large-up} {
    font-size: rem-calc(125);
    line-height: rem-calc(130);
  }
  margin-bottom: 20px;
  font-weight: 300;

  .type {
    font-size: rem-calc(30);
    line-height: rem-calc(35);
    @media #{$large-up} {
      font-size: rem-calc(35);
      line-height: rem-calc(40);
    }
  }

  .house-scale {
    font-size: rem-calc(80);
    line-height: rem-calc(90);
    @media #{$medium-up} {
      font-size: rem-calc(90);
      line-height: rem-calc(100);
    }
    @media #{$large-up} {
      font-size: rem-calc(105);
      line-height: rem-calc(115);
    }
    &.color {
      color: $info-color;
      font-weight: 600;
    }
  }

  &.sm {
    .type {
      padding-bottom: $space-small*4;
    }
  }

  em {
    font-weight: 300;
    color: silver;
  }
}

.need-fulfilled {
  .stat.compare,
  .stat.average {
    @extend .large-12;
    @extend .columns;
  }

  .sm {
    margin-top: 20px;
    @media #{$medium-up} {
      margin-top: 0;
    }
    .compare,
    .average {
      dl {
        dt {
          width: 40%;
        }
        dd {
          width: 60%;
        }
      }
    }
  }
}

