.la-show {
  header {
    margin-bottom: 30px;
  }

  .average, .compare {
    font-size: rem-calc(16);
    line-height: rem-calc(16);
    margin-bottom: 5px;

    .line {
      display: inline-block;
      width: 0;
      border-top: 8px solid gray;
      position: absolute;
      top: 12px;
      left: 0;
      z-index: 100;
    }

    .line-full {
      position: absolute;
      top: 12px;
      left: 0;
      border-top: 8px solid silver;
      width: 100%;
    }

    span {
      position: absolute;
      top: 20px;
      left: 0;
      font-weight: 300;
    }
  }

  .compare {
    .line {
      border-top: 8px solid $info-color;
    }
  }

  dl {
    @extend .row;

    dt {
      @extend .large-3;
      @extend .columns;
      font-size: rem-calc(14);
      padding-right: 0;
      padding-top: 5px;
    }
    dd {
      @extend .large-9;
      @extend .columns;
      margin-bottom: 0;
      position: relative;
    }
  }
}

.house {
  @extend .medium-2;
  @extend .small-4;
  @extend .columns;
  font-size: rem-calc(110);
  line-height: rem-calc(110);
  &:before {
    margin: 0;
  }
}

.stat {
  @extend .medium-6;
  @extend .small-8;
  @extend .columns;
  font-size: rem-calc(125);
  line-height: rem-calc(130);
  margin-bottom: 20px;
  font-weight: 300;

  .type {
    font-size: rem-calc(35);
    line-height: rem-calc(40);
  }

  .house-scale {
    font-weight: 600;
    color: $primary-color;
  }

  &.sm {
    font-size: rem-calc(80);
    line-height: rem-calc(85);

    .type {
      font-size: rem-calc(25);
      line-height: rem-calc(30);
      padding-bottom: $space-small;
    }
  }
}