%p
  Some description about how we got the data here
%p
  This project was built by:
  %a{:class => "icon-twitter", :href => "https://twitter.com/lily_dart"}
    Lily Dart
  %a{:class => "icon-twitter", :href => "https://twitter.com/magdawebdesign"}
    Magda Faizov
  %a{:class => "icon-twitter", :href => "https://twitter.com/DGMStuart"}
    Duncan Stuart
  %a{:class => "icon-twitter", :href => "https://twitter.com/tomhipkin"}
    Tom Hipkin
  who work for
  %a{:class => "icon-twitter", :href => "https://twitter.com/thedxw"}
    dxw
