%p
  This website was built in a weekend for
  %a{:href=>"http://lanyrd.com/2014/accountability-hack/"}
    AccHack14
  and the theme was inspired by
  %a{:href=>"http://twitter.com/housingday"}
    @housingday
%p
  The data for this project was mostly taken from the 2011 Census via the ONS API. The other datasets we used didn't have 2011 data so we've had to use data from the first half of 2012 in some places. Additionally, some information for local authorities was just missing.
%p
  This hackday project should be considered an example of the kind of analysis that can be done if there was reliable and up to date information from local authorities, rather than as a reliable source of information.

%p
  %strong
    This project was built by
    %a{:class => "icon-twitter", :href => "https://twitter.com/lily_dart"}
      Lily Dart
    %a{:class => "icon-twitter", :href => "https://twitter.com/magdawebdesign"}
      Magda Faizov
    %a{:class => "icon-twitter", :href => "https://twitter.com/DGMStuart"}
      Duncan Stuart
    and
    %a{:class => "icon-twitter", :href => "https://twitter.com/tomhipkin"}
      Tom Hipkin
    who work for
    %a{:class => "icon-twitter", :href => "https://twitter.com/thedxw"}
      dxw
